@model Smileys.Models.Company

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CVR" class="control-label"></label>
                <input asp-for="CVR" class="form-control" />
                <span asp-validation-for="CVR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentSmileyUrl" class="control-label"></label>
                <input asp-for="CurrentSmileyUrl" class="form-control" />
                <span asp-validation-for="CurrentSmileyUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousSmiley1Url" class="control-label"></label>
                <input asp-for="PreviousSmiley1Url" class="form-control" />
                <span asp-validation-for="PreviousSmiley1Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousSmiley2Urls" class="control-label"></label>
                <input asp-for="PreviousSmiley2Urls" class="form-control" />
                <span asp-validation-for="PreviousSmiley2Urls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousSmiley3Urls" class="control-label"></label>
                <input asp-for="PreviousSmiley3Urls" class="form-control" />
                <span asp-validation-for="PreviousSmiley3Urls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
